{% extends 'base.html.twig' %}

{% block title %}Hello Web/UseWebController!{% endblock %}

{% block body %}
{{form_start(form, {attr:{'data-turbo': 'false'}}) }}
<div class="form_group">
    {{form_row(form.username)}}
    {{form_row(form.email)}}
    {{form_row(form.password)}}
</div>

{{form_end(form)}}

{% endblock %}
